# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'use TCVN encoding'
      'command': 'extend-encoding-selector:TCVN'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'extend-encoding-selector'
      'submenu': [
        {
          'label': 'TCVN'
          'command': 'extend-encoding-selector:TCVN'
        }
      ]
    ]
  }
]
